@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;900&display=swap');
:root {
    --fontFamily: 'Source Sans Pro', sans-serif;
    --accents: #3e86d8;
    --primary: #333333;
    --white: #fff;
    --lightgray: #fafafa;
    --borders: #eaeaea;
    --fontSize: 16px;
    --transition: .3s ease;
    --text: rgba(0,0,0,.8);
}
/************
basic styles
************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    color: var(--text);
    background: var(--accents);
    padding: 0 20px 50px 20px;
    font-size: var(--fontSize);
    line-height: 1.6;
}
.container {
    width: 65%;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a:hover {
    transition: var(--transition);
}
/************
header
************/
header {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header article {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    background: var(--accents);
    padding: 20px 0;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
}
header nav ul li a {
    color: var(--white);
    opacity: .6;
    text-transform: uppercase;
    text-decoration: none;
}
header nav ul li a:hover {
    color: var(--white);
    opacity: 1;
}
.logo {
    background: rgba(0,0,0,.8);
    color: var(--white);
    font-weight: 900;
    text-decoration: none;
    font-size: 3.3rem;
    text-align: center;
    padding: 30px 15px;
    line-height: 30px;
}
.logo span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}
header .icons a {
    color: var(--white);
    font-size: 1.3rem;
    margin-left: 30px;
}
/************
services
************/
.services {
    background: var(--white);
    padding: 100px 0;
}
.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services div {
    flex: 0 0 24%;
}
.services p {
    line-height: 1.8;
}
.services h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}
/************
blog
************/
.blog {
    padding: 100px 0;
    background: var(--lightgray);
    border-top: 1px solid var(--borders);
    text-align: center;
}
.blog .container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.blog .container div {
    flex: 0 0 23%;
}
.blog h2 {
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
}
.blog h4 {
    color: #4b4b4b;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.blog h3 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px
}
.blog p {
    color: #929292;
}
button {
    background: var(--accents);
    color: var(--white);
    padding: 10px 15px;;
    text-transform: uppercase;
    font-size: .9rem;
    border: none;
    margin-top: 30px;
    letter-spacing: 2px;
    cursor: pointer;
}
button:hover {
    background: var(--primary);
    transition: var(--transition);
}
/************
footer
************/
footer {
    text-align: center;
    padding-top: 50px;
}
footer a {
    color: var(--primary);
}
footer a:hover {
    text-decoration: none;
}
