@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;900&display=swap');
:root {
    --fontFamily: 'Source Sans Pro', sans-serif;
    --accents: #3e86d8;
    --primary: #333333;
    --white: #fff;
    --lightgray: #fafafa;
    --borders: #eaeaea;
    --fontSize: 16px;
    --transition: .3s ease;
}
/************
basic styles
************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    color: var(--primary);
    background: var(--accents);
    padding: 0 20px 100px 20px;
    font-size: var(--fontSize);
}
.container {
    width: 65%;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a:hover {
    transition: var(--transition);
}
/************
header
************/
header {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header article {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    background: var(--accents);
    padding: 20px 0;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
}
header nav ul li a {
    color: var(--white);
    opacity: .6;
    text-transform: uppercase;
    text-decoration: none;
}
header nav ul li a:hover {
    color: var(--white);
    opacity: 1;
}
.logo {
    background: rgba(0,0,0,.8);
    color: var(--white);
    font-weight: 900;
    text-decoration: none;
    font-size: 3.3rem;
    text-align: center;
    padding: 30px 15px;
    line-height: 30px;
}
.logo span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}
header .icons a {
    color: var(--white);
    font-size: 1.3rem;
    margin-left: 30px;
}




