@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
    --primary: #161616;
    --secondary: #80ba8e;
    --text: #777777;
    --white: #fff;
    --gray: #f2f2f2;
    --darkGray: #444;
    --fontFamily: 'Roboto', sans-serif;
    --fontSize: 18px;
    --transitions: .4s ease;
    --padding: 100px 0;
}
/****************
basic styles
****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--text);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.6;
    font-weight: 300;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    margin: auto;
}
button {
    padding: 15px 30px;
    background: var(--secondary);
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 1rem;
}
button:hover {
    background: #60916c;
    cursor: pointer;
    transition: var(--transition);
}
/****************
header
****************/
header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav {
    padding: 20px 0;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 20px;
    letter-spacing: 2px;
    text-shadow: 0 0 5px var(--primary);
}
header hgroup {
    position: absolute;
    top: 27%;
    text-align: center;
}
hgroup h1 {
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--white);
    text-shadow: 0 0 5px var(--primary);
}
hgroup h5 {
    color: var(--white);
    font-weight: 300;
    font-size: 1.3rem; 
}
/****************
intro
****************/
.intro {
    padding: var(--padding);
    text-align: center;
    background: var(--gray);
}
.intro h2 {
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 30px;
}
.intro a {
    color: var(--secondary);
}
.intro hr {
    border: none;
    background: #dddddd;
    height: 1px;
    margin: 50px auto;
}
.intro article {
    display: flex;
    justify-content: space-between;
}
.intro article div {
    flex: 0 0 31%;
}
.intro i {
    font-size: 5rem;
    color: #bbbbbb;
    margin-bottom: 30px;
}
.intro h3 {
    font-weight: 300;
    font-size: 1.6rem;
}
.intro p {
    padding: 30px 0;
    font-size: 1,1rem;
    line-height: 2;
}
/****************
blog 
****************/
.blog {
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog article {
    flex: 0 0 48%;
    text-align: center;
}
.blog img {
    width: 100%;
}
.blog h3 {
    font-weight: 300;
    padding-top: 40px;
    font-size: 2rem;
}
.blog p {
    font-weight: 300;
    padding: 50px 0;
}
/****************
blockquote
****************/
.blockquote {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockquote blockquote {
    color: var(--white);
    opacity: .7;
    text-align: center;
    font-size: 1.7rem;
}
/****************
footer
****************/
footer {
    padding: var(--padding);
    background: var(--primary);
    color: var(--white);
    text-align: center;
}
footer hr {
    border: none;
    background: var(--darkGray);
    height: 1px;
    margin: 50px auto;
}
footer h2 {
    font-size: 3rem;
    font-weight: 300;
}
footer p {
    font-size: 1.5rem;
    color: var(--darkGray);
    padding: 30px 0;
}
.copy {
    font-size: .9rem;
}
footer a {
    color: var(--darkGray);
    margin: 10px;
    font-size: 2rem;
}
footer a:hover {
    color: var(--white);
    transition: var(--transition);
}

