@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400&display=swap');
:root {
    --fontFamily: 'Source Sans Pro', sans-serif;
    --logo: 'Pacifico', cursive;
}
body {
    font-family: var(--fontFamily);
}
