@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400&display=swap');
:root {
    --fontFamily: 'Source Sans Pro', sans-serif;
    --logo: 'Pacifico', cursive;
    --fontSize: 18px;
    --white: #fff;
    --bg: #f4f4f4;
    --padding: 100px 0;
    --headings: #444444;
    --text: #676767;
    --red: #EF6480;
    --transition: .3s ease;
}
/*************
basic styles
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    background: var(--bg);
    color: var(--text);
    font-weight: 200;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--headings);
}
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7px;
    margin: 50px 0;
}
button {
    border: 2px solid var(--headings);
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 30px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
}
button:hover {
    border: 2px solid var(--red);
    color: var(--red);
    transition: var(--transitions);
}
/*************
header
*************/
header {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(images/banner.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-family: var(--logo);
    font-size: 6rem;
    color: var(--white);
}
.underline {
    width: 35%;
    height: 2px;
    background: var(--white);
    margin: 10px auto 50px auto;
}
header p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
    opacity: .7;
    letter-spacing: 4px;
}
/*************
intro
*************/
.intro {
    background: var(--white);
    padding: var(--padding);
    margin: 100px auto;
    text-align: center;
}
.intro i {
    border: 2px solid var(--text);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    padding: 50px;
    border-radius: 50%;
    font-size: 2.5rem;
    margin: auto;
}
.intro p {
    font-size: 1.4rem;
    padding-bottom: 30px;
}





