@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --fontFamily: 'Raleway', sans-serif;
    --fontSize: 16px;
    --accents: #f32853;
    --hover: #f44066;
    --white: #fff;
    --headings: #484848; /* rgb(72, 72, 72) */
    --text: #666;
    --gray: #aaaaaa;
    --transition: .3s ease;
    --py: 100px 0;
    --pt: 100px 0 0 0;
}
/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-weight: 400;
    font-size: var(--fontSize);
    line-height: 1.6;
    color: var(--text);
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: var(--headings);
}
ul {
    list-style: none;
}
a:hover {
    transition: var(--transition);
}
button {
    padding: 25px 50px;
    background: var(--accents);
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 7px;
    letter-spacing: 1px;
    cursor: pointer;
}
button:hover {
    background: var(--hover);
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.5;
}
.container {
    width: 72%;
    margin: auto;
}
/***************
header
***************/
header {
    background-image: linear-gradient(rgba(72, 72, 72,.9), rgba(72, 72, 72,.9)), url(img/banner.jpg);
    background-position: center top;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 70px 70px 0;
}
.logo span {
    font-weight: 700;
}
.logo {
    font-size: 1.5rem;
    color: var(--white);
}
.logo:hover {
    color: var(--accents);
}
header a {
    text-decoration: none;
    text-transform: uppercase;
}
header ul li a {
    color: var(--white);
    opacity: .7;
    margin-left: 70px;
    font-size: 1.2rem;
}
header ul li a:hover {
    color: var(--white);
    opacity: 1;
}
header ul {
    display: flex;
}
header div {
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}
header div h1 {
    color: var(--white);
    font-size: 4rem;
}
header div p {
    color: var(--gray);
    font-size: 1.8rem;
    padding: 50px 0;
}
/***************
intro
***************/
.intro {
    width: 55%;
    margin: auto;
    padding: var(--py);
    display: flex;
    justify-content: space-between;
}
.intro article {
    flex: 0 0 45%;
}
.intro h4,
.gallery h4,
.services h4 {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--gray);
    font-weight: 400;
}
.intro p {
    font-size: 1.1rem;
    line-height: 1.8;
}
.intro p:first-child {
    padding-bottom: 30px;
}
/***************
gallery
***************/
.gallery {
    padding: var(--py);
    background: #f6f6f6;
}
.gallery h2,
.gallery h4 {
    text-align: center;
}
.gallery .container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.gallery .container div img {
    width: 100%;
    display: block;
}
.gallery .container div {
    flex: 0 0 48%;
}
.gallery .container div h3 {
    background: var(--white);
    text-align: center;
    padding: 40px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow:  0px 0px 3px var(--gray);
}
.gallery .buttons {
    text-align: center;
    margin-top: 60px;
}
.gallery .buttons button {
    margin: 0 10px;
    padding: 20px 40px;
}
.gallery .buttons button:last-child {
    background: var(--headings);
}
/***************
services
***************/
.services {
    padding: var(--pt);
    padding-bottom: 20px;
}
.services article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.services article .col {
    display: flex;
    flex: 0 0 47%;
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;
}
.services article img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid #e3e3e3;
    display: block;
}
.services article img:hover {
    border: 8px solid var(--accents);
    transition: var(--transition);
}
.services article .col .text {
    flex: 0 0 66%;
}
.services article .col .img {
    flex: 0 0 27%;
}
.services article .col:nth-child(even) .text {
    order: 2;
}
.services article .col:nth-child(even) .img {
    order: 1;
}
.services article .col:nth-child(odd) .text {
    text-align: right;
}
.services .text h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.services .text h5 {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--gray);
    font-weight: 300;
    padding-bottom: 20px;
}
.services .text p {
    font-size: 1.1rem;
}
/***************
cta
***************/
.cta {
    background-image:linear-gradient(rgba(72, 72, 72,.9), rgba(72, 72, 72,.9)),  url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: var(--py);
    text-align: center;
}
.cta h2 {
    color: var(--white);
}
.cta h4 {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: var(--gray);
    font-weight: 400;
    padding: 30px 0;
}




